:root{
    --size:calc(1.3vh + 1vw);
    --color1:rgb(0, 60, 128);
    --color2:rgb(88, 88, 52);
    --color3:#9dff00;
    --color4:rgb(190, 13, 196);
    --color5:rgb(157, 197, 120);
    --color6:#d0e612;
    --color7:rgb(174, 209, 15);
    --color8:#e00849;
    --color9:rgb(0, 255, 179);
  }
body{
    margin: 0;
    padding: 0;
    overflow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99vh;
    font-size: 50px;
   background-color: #FCF9BF;
    flex-direction: column;
}

.scena {
    position: relative;
    width:  500px;
    height: 500px;
    box-shadow: gray -2px -2px 5px ,lightgrey 2px 2px 5px;
    background-image:repeating-conic-gradient(from 0deg ,var(--color2) 0deg 90deg, var(--color5) 90deg 180deg) ;
    background-size: 100px 100px;
    border: black 5px solid;
   
}

.cap{
    width: 50px;
    height: 50px;
    position: absolute;
    transition:.2s linear;
    background-color:var(--color7);
    box-shadow: #000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset;
    top:-1px;
    left: -1px;
    
}

.coada{
    background-color:var(--color7);
    box-shadow: #000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset;
    position: absolute;
    transition:.2s linear;
    width: 50px;
    height: 50px;
    top:-1px;
    left: -1px;
}


.ochii1, .ochii2{
    padding: 5px;
    background-color: var(--color1);
    position: absolute;
    clip-path: ellipse(50% 36% at 50% 50%);
}
.ochii1{
    top:60%;
    left:60%;
}
.ochii2{
    top:15%;
    left:60%;
}
.senzor{
    padding: 1px;
    position: absolute;
    top:45%;
    left:95%;
}

.fruct{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20%;
    top:40%;
}
.fruct img{
    height: 100%;
    width: 100%;
}
.over{
        font-size:calc(var(--size) * 1.8) ;
        position: absolute;
        text-align: center;
        width: 100%;
        height: 100%;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        justify-content:center;
        display: flex;
        flex-direction: column;
        text-shadow: 0.1em 0.1em var(--color8); 
        color:var(--color6);
        padding: 0.2em;
        display: none;
        text-align: center;
        animation: Show 0.7s;
        margin-top: -3em;  
        z-index: 2;
}

button{
    font-family:monospace;
    font-weight: bold;
    font-size: 0.9em;
    transition: 0.5s;
    background-color: #0b010f;
    color:var(--color6);
    border: solid 2px var(--color6);
    box-shadow:#000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset,
    rgb(99, 93, 93) 0.2em 0.2em 0.2em;
     cursor: pointer;
     text-shadow: 2px 2px var(--color8); 
  }

  button:hover{
    background-color:var(--color9) ;
    font-size: 1em;
    color:var(--color3);
    border: solid 2px #9dff00;
    text-shadow: 2px 2px #050005;
  }  

.over button{
    width: 6em;
    transition: 0.1s;
    animation: ButtonAnime 2s infinite;
  }
.over button:hover{
    animation:none ;
  }  

.score{
    font-size:calc(var(--size) * 1);
    text-shadow: 1px 1px var(--color8); 
    color:var(--color6);
    background-color:#000;
    padding: 0.2em;
    box-shadow:#000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset,
    rgb(99, 93, 93) 0.2em 0.2em 0.2em;
    border: solid 2px var(--color6);
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.3em;
    font-family:monospace;
  }

.dev{
    font-size:calc(var(--size) * 0.3);
    position: absolute;
    font-family:monospace;
    font-weight: bold;
    color:var(--color6);
    border: solid 2px var(--color6);
    box-shadow:#000a -0.1em -0.1em  inset,#fff 0.1em 0.1em  inset,
    rgb(99, 93, 93) 0.2em 0.2em 0.2em;
     text-shadow: 1px 1px var(--color8); 
     background-color: #0b010f;
     top:30%;
     left:6%;
     width: 25em;
     text-align: center;
     animation: Dev 20s infinite ease-in-out;
  }
  
@keyframes Show{
    from {font-size: 0;}
    to {font-style:calc(var(--size) * 1.8);}
  
  }

  
@keyframes ButtonAnime{
    0%   {background-color: #0b010f;
          color:var(--color6);
          border: solid 2px var(--color6);
          font-size: 0.9em;
        }
    80%  {background-color: #0b010f;
          color:var(--color6);
          border: solid 2px var(--color6);
          font-size: 0.9em;}
    90%  { background-color: rgb(0, 255, 179);
           font-size: 1em;
           color:#9dff00;
           border: solid 2px #9dff00;}
    100%  {background-color: #0b010f;
          color:var(--color6);
          border: solid 2px var(--color6);
          font-size: 0.9em;
        }
  }



@keyframes Dev{
  0%   {top:10%;left: 3%;}
  5%   {top:40%;left: 3%;}
  8%   {background-color: #0b010f;
        color:var(--color6);
        border: solid 2px var(--color6);
        font-size:calc(var(--size) * 0.3);
        left:3%;}
  9%   {background-color: var(--color9);
    font-size:calc(var(--size) * 0.35);;
         color:var(--color3);
         border: solid 2px var(--color3);
        left:2%;}  
  10%   {background-color: #0b010f;
         color:var();
         border: solid 2px var(--color6);
         font-size:calc(var(--size) * 0.3); 
         left:3%}
  15%{background-color: #0b010f;
    color:var(--color6);
    border: solid 2px var(--color6);
    font-size:calc(var(--size) * 0.3); 
    left:3% }
    16%   {background-color: var(--color9);
      font-size:calc(var(--size) * 0.35);;
           color:#9dff00;
           border: solid 2px #9dff00;
          left:2%;}  
    17%   {background-color: #0b010f;
           color:var(--color6);
           border: solid 2px var(--color6);
           font-size:calc(var(--size) * 0.3); 
           left:3%}
    23%   {background-color: #0b010f;
    color:var(--color6);
    border: solid 2px var(--color6);
    font-size:calc(var(--size) * 0.3); 
    left:3%}
    24%   {background-color: var(--color9);
      font-size:calc(var(--size) * 0.35);;
           color:#9dff00;
           border: solid 2px #9dff00;
          left:2%;}  
    25%   {background-color: #0b010f;
           color:var(--color6);
           border: solid 2px var(--color6);
           font-size:calc(var(--size) * 0.3); 
           left:3%}
    30%{background-color: #0b010f;
      color:var(--color6);
      border: solid 2px var(--color6);
      font-size:calc(var(--size) * 0.3); 
      left:3% }
      31%   {background-color: var(--color9);
        font-size:calc(var(--size) * 0.35);;
             color:#9dff00;
             border: solid 2px #9dff00;
            left:2%;}  
      32%   {background-color: #0b010f;
             color:var(--color6);
             border: solid 2px var(--color6);
             font-size:calc(var(--size) * 0.3); 
             left:3%}
  35%  {top:40%;left: 3%;}
  40%  {top:90%;left: 3%;}
  50%  {top:90%;left: 80%;}
  55%  {top:40%;left: 80%;}
  58%  {background-color: #0b010f;
        color:var(--color6);
        border: solid 2px var(--color6);
        font-size:calc(var(--size) * 0.3);
        left:80%;}
   59%{
       background-color: var(--color9);
       font-size:calc(var(--size) * 0.35);;
         color:#9dff00;
         border: solid 2px #9dff00;
        left:79%;
   }     
   60%{
    background-color: #0b010f;
         color:var(--color6);
         border: solid 2px var(--color6);
         font-size:calc(var(--size) * 0.3); 
         left:80%
   }
  65%{ background-color: #0b010f;
    color:var(--color6);
    border: solid 2px var(--color6);
    font-size:calc(var(--size) * 0.3); 
    left:80%}
    66%{
      background-color: var(--color9);
      font-size:calc(var(--size) * 0.35);;
        color:#9dff00;
        border: solid 2px #9dff00;
       left:79%;
  }     
  67%{
   background-color: #0b010f;
        color:var(--color6);
        border: solid 2px var(--color6);
        font-size:calc(var(--size) * 0.3); 
        left:80%
  }
 73%{ background-color: #0b010f;
   color:var(--color6);
   border: solid 2px var(--color6);
   font-size:calc(var(--size) * 0.3); 
   left:80%} 
   74%{
    background-color: var(--color9);
    font-size:calc(var(--size) * 0.35);;
      color:#9dff00;
      border: solid 2px #9dff00;
     left:79%;
}     
75%{
 background-color: #0b010f;
      color:var(--color6);
      border: solid 2px var(--color6);
      font-size:calc(var(--size) * 0.3); 
      left:80%
}
80%{ background-color: #0b010f;
 color:var(--color6);
 border: solid 2px var(--color6);
 font-size:calc(var(--size) * 0.3); 
 left:80%}
 81%{
  background-color: var(--color9);
  font-size:calc(var(--size) * 0.35);;
    color:#9dff00;
    border: solid 2px #9dff00;
   left:79%;
}     
82%{
background-color: #0b010f;
    color:var(--color6);
    border: solid 2px var(--color6);
    font-size:calc(var(--size) * 0.3); 
    left:80%
}
  85%  {top:40%;left: 80%;}
  90%  {top:10%;left: 80%;}
  100%  {top:10%;left: 3%;}
}
@media only screen and (max-height: 500px) {
    body {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {
    body {
      display: none;
    }
  }
  